@model IEnumerable<GospDiplom.WEB.Models.InputViewModels>

@{
    ViewBag.Title = "Таблица киосков";
}

<h2>Таблица киосков</h2>
<hr />
<p>введите месяц и номер киоска и нажмите <strong>ПОКАЗАТЬ</strong>.</p>
<form action="" method="post">
    <p>
        <label for="text1">First Number:</label>
        <input type="text" name="text1" />
    &harr;
        <label for="text2">Second Number:</label>
        <input type="text" name="text2" />
    </p>
    <p><input type="submit" value="Add" /></p>
</form>
<hr />

<table class="table">
    <tr>
        <th>
            Номер киоска
        </th>
        <th>
            Тип объекта
        </th>
        <th>
            Город
        </th>
        <th>
            Адрес
        </th>
        <th>
            Организация
        </th>
        <th>
            Номер договора
        </th>
        <th>
            Аренда
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Kiosk.Nomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kiosk.ModelKioska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kiosk.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kiosk.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dogovor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kiosk.Arenda)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "MakeOrder", new { id = 1 })
            </td>

        </tr>
    }

</table>