@model GospDiplom.WEB.Models.SectionModel

@{
    ViewBag.Title = "Таблица торговых объектов Гомельского филиала РУП \" Белсоюзпечать\"";
}

<h2>Таблица торговых объектов<br /> Гомельского филиала РУП "Белсоюзпечать"</h2>
<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    Номер
                </th>
                <th scope="col">
                    Дата решения
                </th>
                <th scope="col">
                    Город
                </th>
                <th scope="col">
                    Адрес
                </th>
                <th scope="col">
                    кадастровый<br />номер
                </th>
                <th scope="col">
                    Площадь
                </th>
                <th scope="col">
                    Аренда
                </th>
                <th scope="col">
                   Дата аренды
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sections)
            {
            <tr>

                <th scope="row">


                    @Html.DisplayFor(modelItem => item.NomerKioska)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DataResh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Kiosks.Where(x=>x.Nomer==item.NomerKioska).FirstOrDefault().Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Kiosks.Where(x => x.Nomer == item.NomerKioska).FirstOrDefault().Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadastr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaSection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeArenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateArenda)
                </td>

                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "EditKiosk", "EditKiosk", new { nomer = item.NomerKioska }, null)
                    </td>}
            </tr>
            }
        </tbody>
    </table>
</div>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfoCom, x => Url.Action("Index", new { page = x}))
                @*@Html.PageLinks(Model.First().PagingInfoCom, x => Url.Action("Chat", new { page = x, category = Model.CurrentTopicName }))*@
         </div>
