@model GospDiplom.WEB.Models.InputViewModels

@{
    ViewBag.Title = "Таблица киосков";
}

<h2>Таблица киосков</h2>

    <table class="table table-bordered"  style=" font-size: 1.5rem;">
        <tr>
            <th>
                Номер киоска
            </th>
            <th>
                Тип объекта
            </th>
            <th>
                Город
            </th>
            <th>
                Адрес
            </th>
            <th>
                Организация
            </th>
            <th>
                Номер договора
            </th>
            <th>
                Аренда
            </th>
        </tr>

        @foreach (var item in Model.AllKioski)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dogovor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arenda)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "MakeOrder", new { id = 1 })
                </td>

            </tr>
        }

    </table>
    <div class="pager">
        @Html.PageLinks(Model.PagingInfoCom, x => Url.Action("Index", new { page = x }))
        @*@Html.PageLinks(Model.First().PagingInfoCom, x => Url.Action("Chat", new { page = x, category = Model.CurrentTopicName }))*@
    </div>