@model IEnumerable<GospDiplom.WEB.Models.InputViewModels>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Таблица показаний</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>
<body>

    <hr />
    <p>введите месяц и номер киоска и нажмите <strong>ПОКАЗАТЬ</strong>.</p>
    <form action="" method="post">
        <p>
            <label for="text1">First Number:</label>
            <input type="text" name="text1" />
            &harr;
            <label for="text2">Second Number:</label>
            <input type="text" name="text2" />
        </p>
        <p><input type="submit" value="Add" /></p>
    </form>
    <hr />
    <table>

        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        Номер Счетчика
                        item.Kiosk.Kiosk
                    </td>

                    <td>
                        Двухтарифный
                        item.Indication.Tarif1
                    </td>
                    <td>
                        @Html.ActionLink("Order", "MakeOrder", new { KioskDTOId = item.Kiosk.Kiosk })
                    </td>
                </tr>
            }*@
    </table>

    <hr />
    <table>
        <tr>
            <td>Номер киоска </td>
            <td> Номер счетчика</td>
            <td>Тариф 1 </td>
            <td>Тариф 2 </td>
            <td> Месяц</td>
            <td>Тех учет </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Kiosk.Nomer)</td>

                <td> @Html.DisplayFor(modelItem => item.Counetr.NomerSchetchika)</td>

                <td> @Html.DisplayFor(modelItem => item.Indication.Tarif1)</td>

                <td> @Html.DisplayFor(modelItem => item.Indication.Tarif2)</td>

                <td> @Html.DisplayFor(modelItem => item.OrgName)</td>

                <td>@Html.DisplayFor(modelItem => item.Counetr.TexUchet)</td>
            </tr>
        }
    </table>
    <hr />
    <table>
        <tr>
            <td> Киоск</td>
            <td>Счетчик</td>
            <td>Месяц</td>
            <td>Показания</td>
        </tr>
        @foreach (var item in Model)
        {
            @*<tr>
                    <td>@item.Kiosk.Nomer</td>
                    <td>@item.Counetr.Nomer</td>
                    <td>@item.Indication.Month.ToString("MMM")</td>
                    <td>@item.Indication.Tarif1</td>
                </tr>*@
        }
    </table>


    @*<form action="" method="post">
        <p>
            <label for="text1">First Number:</label>
            <text type="text" name="text1">
                @Model.Tarif1
                </text>
                </p>
                <p>
                    <label for="text2">Second Number:</label>
                    <text type="text" name="text2">
                       @Model.Tarif2
                    </text>
                </p>
                <p><input type="submit" value="Add" /></p>
                </form>*@

    @*<p>@ViewBag.Message</p>*@

</body>
</html>

