@using GospDiplom.BLL.DTO
@model GospDiplom.WEB.Models.SchetchikViewModel


@{
    ViewBag.Title = "IndicationOneKioskAllMonth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Показания счетчиков @ViewBag.nomer за @ViewBag.Month</h2>

<hr />
<div class="panel panel-primary table-responsive-sm">
    @*<div class="panel-heading">Данные пользователей</div>*@
    <table class="table-bordered">
        <caption>Таблица показаний</caption>
        <thead>
            <tr>
                <th>Номер объекта </th>
                <th>Номер счетчика</th>
                <th> Модель счетчика</th>
                <th>Начальные </th>
                <th>Конечные </th>
                <th>Расход </th>
                <th>Месяц</th>
                <th> Двух тарифный</th>
                <th>Тех учет </th>
                <th> Организация</th>
                <th>Договор </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<AllCounter>)ViewData["SchetchikAllCounters"])
            {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.NomerKioska)</td>

                <td> @Html.DisplayFor(modelItem => item.NomerCounter)</td>

                <td> @Html.DisplayFor(modelItem => item.ModelCounter)</td>

                <td> @Html.DisplayFor(modelItem => item.Tarif1Start)</td>

                <td> @Html.DisplayFor(modelItem => item.Tarif1End)</td>

                <td> @Html.DisplayFor(modelItem => item.Span)</td>

                <td> @Html.DisplayFor(modelitem => item.Month) </td>

                <th scope="row"> @Html.DisplayFor(modelItem => item.TwoTarif)</th>

                <th scope="row"> @Html.DisplayFor(modelItem => item.TechUchet)</th>

                <td> @Html.DisplayFor(modelItem => item.OrgName)</td>

                <td>@Html.DisplayFor(modelItem => item.Dogovor)</td>
            </tr>
            }
        </tbody>
    </table>
    </div>
    <hr />

