@using GospDiplom.BLL.DTO
@model GospDiplom.WEB.Models.SchetchikViewModel

<div>
    <h4>Ежемесячный расход</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div class="panel panel-primary table-responsive-lg">
    <table class="table-responsive-xl">
        <thead>
            <tr>
                <th scope="col">номер<br /> объекта</th>
                <th scope="col">№ счетчика</th>
                <th scope="col"> ночной<br /> тариф</th>
                <th scope="col">январь</th>
                <th scope="col">февраль</th>
                <th scope="col">март</th>
                <th scope="col">апрель</th>
                <th scope="col">май</th>
                <th scope="col">июнь</th>
                <th scope="col">июль</th>
                <th scope="col">август</th>
                <th scope="col">сентябрь</th>
                <th scope="col">октябрь</th>
                <th scope="col">ноябрь</th>
                <th scope="col">декабрь</th>
                <th scope="col">год</th>
            </tr>
        </thead>
        <tbody>

            @{
                int i = 0;
                string temp = "";
                foreach (var items in (List<AllCounter>)ViewData["SchetchikAllCounters"])
                {


                    if (items.NomerCounter == Model.AllCounters.First().NomerCounter && i == 0)
                    {
                        double summ = 0;
                        <tr>
                            <td>&nbsp;@Html.DisplayFor(modelItem => Model.AllCounters.First().NomerKioska) </td>
                            <td>&nbsp;@Html.DisplayFor(modelItem => Model.AllCounters.First().NomerCounter) </td>
                            <td>&nbsp;@Html.DisplayFor(modelItem => Model.AllCounters.First().TwoTarif) </td>

                            @for (int j = 1; j < 13; j++)
                            {
                            for (int m = 0; m < Model.AllCounters.Count(); m++)
                            {
                                if (Model.AllCounters.Any(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter))
                                {
                                    summ = summ + Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span;
                                        // Html.DisplayFor(modelItem => Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span);
                                        <td>
                                            @Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span.ToString()
                                        </td>
                                        temp = items.NomerCounter;
                                        break;
                                    }
                                    else
                                    {
                                        <td> @Html.Raw("0")</td>
                                        temp = items.NomerCounter; break;
                                    }
                                }

                            }
                            <td> &nbsp;@summ.ToString();</td>
                        </tr>
                    }

                    if (items.NomerCounter != temp/*Model.AllCounters.First().NomerCounter*/ && i != 0)
                    {
                        double summ = 0;
                        <tr>
                            <td>&nbsp;@Html.DisplayFor(modelItem => items.NomerKioska) </td>
                            <td>&nbsp;@Html.DisplayFor(modelItem => items.NomerCounter) </td>
                            <td>&nbsp;@Html.DisplayFor(modelItem => items.TwoTarif) </td>


                            @for (int j = 1; j < 13; j++)
                            {
                            for (int m = 0; m < Model.AllCounters.Count(); m++)
                            {
                                if (Model.AllCounters.Any(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter))
                                {
                                    summ = summ + Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span;
                                        // Html.DisplayFor(modelItem => Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span);
                                        <td>
                                            @Model.AllCounters.Where(x => x.Date.Month == j && x.NomerCounter == items.NomerCounter).First().Span.ToString()
                                        </td>
                                        temp = items.NomerCounter; break;
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.Raw("0")
                                        </td>
                                        temp = items.NomerCounter; break;
                                    }
                                }
                            }
                            <td>
                                &nbsp;
                        @summ.ToString();
                            </td>
                        </tr>
                    }
                    i = i + 1;
                }
            }

        </tbody>
    </table>
</div>



@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</div>*@
