@model GospDiplom.WEB.Models.KioskViewModel

<h1>Редактор изменений </h1>

@{
    ViewBag.Title = "РЕДАКТОР ИЗМЕНЕНИЙ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" col-12">
    <div class="card-columns col-12 flex-column">
        <p>@Html.ActionLink("База счетчиков", "CounterUpDate", "EditKiosk", FormMethod.Post)</p> <p> <q>полное обновление из файла для базы данных счетчиков</q></p>
    </div>
    <div class="card-columns col-12">
        <p> @Html.ActionLink("База киосков", "KioskUpDate", "EditKiosk", FormMethod.Post) </p> <p> <q>полное обновление из файла для базы данных киосков</q></p>
    </div>
    <div class="card-columns col-12">
        <p> @Html.ActionLink("Показания", "IndicatUpDate", "EditKiosk", FormMethod.Post) </p> <p> <q>полное обновление из файла для показаний</q></p>
    </div>
    <div class="card-columns col-12">
        <p> @Html.ActionLink("Редактор киоска", "EditKiosk", "EditKiosk", FormMethod.Post) </p> <p> <q>редактирование выбранного киоска</q></p>
    </div>
</div>



@*@using (Html.BeginForm("Register", "EditKiosk", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Регистрация" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@