@model GospDiplom.WEB.Models.InputViewModels

@{
    ViewBag.Title = @Model.AllKioski.First().Gorod;
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>Таблица торговых объектов г.@Model.AllKioski.First().Gorod</h2>
<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">   
                    Номер
                </th>
                <th scope="col">
                    Адрес
                </th>
                <th scope="col">
                    Организация
                </th>
                <th scope="col">
                    Номер договора
                </th>
                <th scope="col">
                    Аренда
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllKioski)
            {
                <tr>

                    <th scope="row">


                        @Html.DisplayFor(modelItem => item.Nomer)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dogovor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arenda)
                    </td>

                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.ActionLink("Редактировать", "EditKiosk", "EditKiosk", new { nomer = item.Nomer }, null)
                        </td>}
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfoCom, x => Url.Action("Town", new { page = x }))
    @*@Html.PageLinks(Model.First().PagingInfoCom, x => Url.Action("Chat", new { page = x, category = Model.CurrentTopicName }))*@
</div>